.nav {
    padding: 10px;
    grid-area: n;
    background-color: rgb(86 75	255);
    margin-right: 5px;
}

.item a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.item .activ a {
    color: gold;
}