
.someClass {

}

.hw2 {
    margin: 0 auto;
    width: 390px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hw2__span {
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

.hw2__result {
    box-sizing: border-box;
    border-bottom: 1px solid darkblue;
    width: 100%;
    text-align: left;
    padding: 5px;
}

.hw2__del-button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: darkblue;
    color: grey;
    font-weight: bold;
    transition: all 0.2s;
}

.hw2__del-button:hover {
    background-color: orangered;
    color: white;
    transition: all 0.2s;

}

.hw2__button-filtr {
    width: 100%;
    margin: 0 auto;

}

.hw2-alt {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.hw2-alt > div {
    text-align: center;
}